<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.jonathanstroebele.alfred-lifx</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>21557827-8003-42B7-A042-16D4C9278FEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0E0709F-A94B-45F1-AD8A-43428018A94B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6C6DFC59-3587-45D9-8D7C-3B47DB0BCC8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AFB22E8D-0131-4663-B4FD-CD98B6606FF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C0E0709F-A94B-45F1-AD8A-43428018A94B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AFB22E8D-0131-4663-B4FD-CD98B6606FF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EBCBFF2A-959D-4F33-BCBA-D4C6C066CD16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C6DFC59-3587-45D9-8D7C-3B47DB0BCC8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jonathan Ströbele</string>
	<key>description</key>
	<string>Control yur LIFX bulbs.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>LIFX</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>lifx</string>
				<key>runningsubtext</key>
				<string>working...</string>
				<key>script</key>
				<string>LANG=en_US.UTF-8 /usr/bin/ruby ./lifx.rb "{query}"</string>
				<key>subtext</key>
				<string>Control your LIFX</string>
				<key>title</key>
				<string>LIFX</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>21557827-8003-42B7-A042-16D4C9278FEC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>LANG=en_US.UTF-8 /usr/bin/ruby ./lifx_run.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C0E0709F-A94B-45F1-AD8A-43428018A94B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>LIFX</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AFB22E8D-0131-4663-B4FD-CD98B6606FF1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>lifxc</string>
				<key>runningsubtext</key>
				<string>Fetching bulbs…</string>
				<key>script</key>
				<string>LANG=en_US.UTF-8 /usr/bin/ruby ./lifxc.rb "{query}"</string>
				<key>subtext</key>
				<string>Change the color of your bulbs.</string>
				<key>title</key>
				<string>Change color</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EBCBFF2A-959D-4F33-BCBA-D4C6C066CD16</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>LANG=en_US.UTF-8 /usr/bin/ruby ./lifxc_run.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6C6DFC59-3587-45D9-8D7C-3B47DB0BCC8B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>21557827-8003-42B7-A042-16D4C9278FEC</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>6C6DFC59-3587-45D9-8D7C-3B47DB0BCC8B</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>AFB22E8D-0131-4663-B4FD-CD98B6606FF1</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>C0E0709F-A94B-45F1-AD8A-43428018A94B</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>EBCBFF2A-959D-4F33-BCBA-D4C6C066CD16</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/stroebjo/alfred-lifx</string>
</dict>
</plist>
